.App {
  text-align: center;
}

html{
  background-color: antiquewhite;
}
h1{
  background-color: cadetblue;
  border-top-style: dashed;
  border-color: antiquewhite;
}

h1:div{
  padding-left: 200px;
  padding-right: 200px;
}

button{
  padding: 8px;
  border-spacing: 2px;
  margin: 4px;
}

a{
  margin: 8px;
}